@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: rgb(36, 28, 44);
    font-family: 'Lato', sans-serif;
}

.update-message{
    color:rgb(26, 87, 84);
}

.boss-block{
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.5s;
    background-color: rgb(58,59, 76);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.boss-block:hover{
    opacity: 1;
}
.boss-block.active{
    opacity: 1;
    background-color: rgb(81, 82, 112);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.boss-block > .model > img {
    height:75px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.boss-block >.label {
    padding: 5px;
} 

.boss-block > .label > span {
    display: block;
    color:white;
    font-size: 13px;
    opacity: 0.5;
    margin: 0;
    text-align: center;
}


.accordion-item{margin-bottom: 20px;border:none;border-radius: 0px;}
.accordion-item:last-of-type .accordion-button.collapsed{border-radius: 0px;}
.list-item::after{ 
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-body{
    background: rgb(58,59, 76);
}

.list-item.collapsed{    
    background-color: rgb(58,59, 76) !important;
    color: white;
}

.list-item{    
    background-color: rgb(81, 82, 112)!important;
    color: white !important;
}

.list-item-content{
    display: flex;
    flex-direction: column;
}

.team-char{
    margin-bottom: 10px;
}
.team-char img {
    width: 40px;
    margin-right: 5px;
    border-radius: 100%;
}

.lead{
    border: 4px solid rgb(223, 182, 93)
}

.team-name{
    margin-top: 5px;
    margin-bottom: 0px;
}

.team-dmg{
    margin-bottom:0;
}
.team-dmg span{
    display: block;
}
.team-dmg .label{
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
}
.team-dmg .score{
    font-weight: bold;
    font-size: 17px;
}

.video{
    width:100%;
    height: 300px;
}

.content-2, .content-3, .content-4{
    display: none;
}